<div class="container-fluid col-md-6 mt-5" >
  <div class="card card-container p-5 bg-light">
    <img
      id="profile-img"
      src="../assets/telefonica-logo.png"
      class="profile-img-card align-content-center"
      style="width: 250px;"
    />
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label
          style="font-size: 18px; font-weight: 700;"
        >Username: </label>
        <input
          type="text"
          class="form-control text-center"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          style="font-size: 36px;"
        />
        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
          Username is required! ...
        </div>
      </div>

      <div class="form-group">
        <label
          style="font-size: 18px; font-weight: 700;"
        >Password</label>
        <input
          type="text"
          class="form-control text-center"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          style="font-size: 36px;"
        />
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">Password is required ... </div>
        </div>
      </div>
      <div class="form-group mt-3 mb-3">
        <button class="btn btn-block btn-lg btn-outline-primary">
          Create Encryption
        </button>
      </div>
    </form>

    <header
      *ngIf="usernameEnc"
      class="jumbotron"
    >
      <label><strong>Username Encrypted:</strong></label>
      <p>{{ usernameEnc }}</p>
    </header>

    <header
      *ngIf="passwordEnc"
      class="jumbotron"
    >
      <label><strong>Password Encrypted:</strong></label>
      <p>{{ passwordEnc }}</p>
    </header>

  </div>
</div>
